<div class="Cpu">
  <ul class="nav flex-column">
    <!-- START DRAG SIDEBAR -->
    <draggable
        :list="cpus"
        class="dragArea list-group"
        :group="{ name: 'CpusGroup', pull: 'clone', put: false }"
        @change="log">
      <div v-for="(cpu, index) in remainingCpus" :key="index">
        <a class="nav-link active">
          <small class="anotherorange">{{cpu.name}}</small>
        </a>
      </div>
    </draggable>
    <!-- END DRAG SIDEBAR -->
  </ul>
</div>
<!-- END CPU -->

<div class="Cpu">
  <ul class="nav flex-column">
    <!-- START DRAGDEBAR -->
    <draggable
        :list="cpus"
        class="dragArea list-group"
        :group="{ name: 'CpusGroup', pull: 'clone', put: false }"
        @change="log">
      <div v-for="(cpu, index) in remainingCpus" :key="index">
        <a class="nav-link active">
          <small class="anotherorange">{{cpu.name}}</small>
        </a>
      </div>
    </draggable>
    <!-- END DRAG SIDEBAR -->
  </ul>
</div>
